/docs/about
/docs/humans.txt
/docs/sitemap.txt
/docs/training/*
/docs/races/*
/docs/blog/*
/docs/pictures/*
/docs/racereports/*
/docs/traininglog/*
/content/traininglog/*
/content/racereports/*
*.pyc
xaa
