body {line-height:1;color:#1d2129;font-family:SanFrancisco-Regular,Helvetica, Arial, sans-serif;font-size:15px;font-weight:300;letter-spacing:0.233333px;line-height:21px;background:#ffffff;}
h1, h2, h3, h4, h5, h6 {color:#1d2129;font-family:AgencyVC-Bold,Helvetica, Arial, sans-serif;font-style:normal;font-weight:normal;text-transform:uppercase;}
h1 { font-size:1.4rem; margin:1px 0 0 0;}
h2 { font-size:1.15rem; margin:1px 0 0 0;}
h3 { font-size:1rem; margin:0;}
h4, h5, h6 { font-size:0.9rem; margin:0.25rem 0 0.25rem 0; }
p {margin:0 0 1rem 0;}
a {text-decoration:none; color:black; }
p a {color:#90949c;text-decoration:none;}
a:visited {color:black;}
div, a:hover, a:active, a:focus {outline:0;}
strong {font-weight:bold;}
blockquote {background-color:#efefef;font-size:1.115rem;margin:16px 0;padding:0.25rem 0 0.25rem 0.5rem;}
ol {list-style-type:decimal;margin:0;padding:0;}
ul {list-style-type:square;margin:0;padding:0;}
li {line-height:1.25;margin-bottom:3px;width:100%;}
ul {margin:0 0 1.5rem 0;padding-left:1rem;}
ul li {padding-left:0.15rem;}
ul.alt {list-style:none;padding-left:0;}
ul.alt li {border-top:solid 1px rgba(0, 0, 0, 0.25);padding:0.25rem 0;}
ul.alt li:first-child {border-top:0;padding-top:0;}
.horizon {position:absolute;top:50%; left:0; width:100%;height:1px;background-color:#fefefe;}
.content  {position:absolute;left:0; width:100%;margin-left:0;background-color:white;}
.masthead {margin-bottom:16px;}
.masthead div {width:20px;height:20px;margin:0 10px;padding:0;display:inline-block;cursor:pointer;}
.mariostocco {font-family:AgencyVC-Bold,Helvetica,Arial,sans-serif;font-style:normal;font-weight:normal;font-size:1.55rem;margin:0;}
.guide-icon {float:left;margin-left:10px;margin-right:12px;margin-top:-4px;}
.carousel  {background-color:white;}
.carousel-cell  {width:340px;margin-left:5px;margin-right:5px;padding:0;counter-increment:gallery-cell;text-align:left;}
.text {padding:0 0 0 10px;}
.text p a {color:#06c;text-decoration:none}
.text p a:visited {color:#06c;text-decoration:none}
.text p a:hover {color:#06c;text-decoration:underline}
.image {background-size:contain;}
.imagebanner { position:relative; height:550px; }
.banner {position:absolute;background-color:rgba(0,0,0,.34);color:white;bottom:0;height:30px;margin:0;padding:10px;width:100%;}
.banner h3 {color:white;}
.banner p {color:white;font-size:0.8em;}

.last {width:50%;}

.brightcrimson {color:#F92C33;}

.social {position:absolute;bottom:0;}
.social p {border-top:1px solid #ccc;font-size:0.75em;color:#aaa;margin:0;}
.social ul {list-style:disc inside none;margin:0 7px;}
.social ul li.icon {cursor:pointer;display:inline-block;margin:0 30px 0 -25px;padding:0 1px; position:relative;width:auto;height:20px;zoom:1;}

.gallerylist li {background:url('/assets/img/camera-icon.svg') no-repeat top left;margin:6px 0 0 -15px;padding:0 0 4px 25px;list-style:none;line-height:1.0;}
.gallerylist li a {font-size:0.95em;font-weight:normal;}

.iconlist li {margin:6px 0 0 -15px;padding:0 0 0 25px;list-style:none;line-height:1.0;}
.iconlist li a {color:#06c;}
.iconlist .mobi {background:url('/assets/svg/mobi.svg') no-repeat top left;}
.iconlist .page {background:url('/assets/svg/page.svg') no-repeat top left;}
.iconlist .walk {background:url('/assets/svg/walk.svg') no-repeat top left;}
.iconlist .swim {background:url('/assets/svg/swim.svg') no-repeat top left;}
.iconlist .bike {background:url('/assets/svg/bike.svg') no-repeat top left;}
.iconlist .run {background:url('/assets/svg/run.svg') no-repeat top left;}
.iconlist .mtb {background:url('/assets/svg/mtb.svg') no-repeat top left;}

footer p {font-size:0.7em;color#aaa;margin-left:10px;}

@media screen and (orientation: portrait) {
 .content {top:-300px;height:550px;}
 .carousel-cell {height:550px;}
 .last {width:200px}
}
@media screen and (orientation: landscape) {
 .content {top:-295px;height:550px;}
 .carousel-cell {height:550px;}
 .last {width:1000px;}
}
#q {border-radius:1px;width:268px;border:0;background-color:#efefef;padding:8px 2px 8px 28px;margin-bottom:18px;background-image:url(/assets/img/search.svg);background-repeat:no-repeat;background-position:6px 10px;}
